<h1 class="my-5 text-center">What type of quiz would you like to take?</h1>
<!--Row 1-->
<div class="row mb-3">
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">General Knowledge</h5>
        <a class="btn btn-primary" (click)="selectCategory('9')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Science & Nature</h5>
        <a class="btn btn-primary" (click)="selectCategory('17')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Computers</h5>
        <a class="btn btn-primary" (click)="selectCategory('18')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Mathematics</h5>
        <a class="btn btn-primary" (click)="selectCategory('19')">Select</a>
      </div>
    </div>
  </div>
</div>
<!--Row 2-->
<div class="row mb-3">
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Sports</h5>
        <a class="btn btn-primary" (click)="selectCategory('21')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Geography</h5>
        <a class="btn btn-primary" (click)="selectCategory('22')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Mythology</h5>
        <a class="btn btn-primary" (click)="selectCategory('20')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">History</h5>
        <a class="btn btn-primary" (click)="selectCategory('23')">Select</a>
      </div>
    </div>
  </div>
</div>
<!--Row 3-->
<div class="row mb-3">
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Politics</h5>
        <a class="btn btn-primary" (click)="selectCategory('24')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Art</h5>
        <a class="btn btn-primary" (click)="selectCategory('25')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Celebrities</h5>
        <a class="btn btn-primary" (click)="selectCategory('26')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Animals</h5>
        <a class="btn btn-primary" (click)="selectCategory('27')">Select</a>
      </div>
    </div>
  </div>
</div>
<!--Row 4-->
<div class="row mb-3">
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Vehicles</h5>
        <a class="btn btn-primary" (click)="selectCategory('28')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Books</h5>
        <a class="btn btn-primary" (click)="selectCategory('10')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Film</h5>
        <a class="btn btn-primary" (click)="selectCategory('11')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Music</h5>
        <a class="btn btn-primary" (click)="selectCategory('12')">Select</a>
      </div>
    </div>
  </div>
</div>
<!--Row 5-->
<div class="row mb-3">
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Musicals & Theatres</h5>
        <a class="btn btn-primary" (click)="selectCategory('13')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Video Games</h5>
        <a class="btn btn-primary" (click)="selectCategory('15')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Board Game</h5>
        <a class="btn btn-primary" (click)="selectCategory('16')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Comics</h5>
        <a class="btn btn-primary" (click)="selectCategory('29')">Select</a>
      </div>
    </div>
  </div>
</div>
<!--Row 6-->
<div class="row mb-3">
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Gadgets</h5>
        <a class="btn btn-primary" (click)="selectCategory('30')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Japanese Anime & Manga</h5>
        <a class="btn btn-primary" (click)="selectCategory('31')">Select</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Cartoon & Animations</h5>
        <a class="btn btn-primary" (click)="selectCategory('32')">Select</a>
      </div>
    </div>
  </div>
</div>
