<h2 class="text-center mt-5 text-primary">Good Luck!</h2>
<p class="font-weight-light text-center text-info">Note. Only one click allowed per question. Choose wisely!</p>
<div *ngIf="quizData">
  <div *ngFor="let currentQuestion of quizData.results">
    <!-- Display individual quiz results -->
    <app-quiz-question [question]="currentQuestion.question"
                       [correct_answer]="currentQuestion.correct_answer"
                       [incorrect_answers]="currentQuestion.incorrect_answers"
                       [type]="currentQuestion.type"
                       (answerSelected)="handleAnswerSelected($event)">
    </app-quiz-question>
  </div>
  <button class="btn btn-primary btn-lg mb-5" [disabled]="totalAnswers == (numberCorrect + numberIncorrect)" (click)="showResults()">Finished</button>
</div>

